<p>Select a feeling</p>
<ul>
   <li><a href="#search/emo/Happy">Happy</a></li>
    <li><a href="#search/emo/Sad">Sad</a></li>
    <li><a href="#search/emo/Sexy">Sexy</a></li>
</ul>
<p>Select a profile</p>
<ul>
   <li><a href="#search/profile/Bob">Bob</a></li>
    <li><a href="#search/profile/Sue">Sue</a></li>
    <li><a href="#search/profile/Roxy">Roxy</a></li>
</ul>
<p>Select a category</p>
<ul>
   <li><a href="#search/category/1">1</a></li>
    <li><a href="#search/category/2">2</a></li>
    <li><a href="#search/category/3">3</a></li>
</ul>





