<div class="profile">
	<div class="profile-header">
		<div class="profile-people-img">
			<img class="image" src="http://placehold.it/40x40" />
		</div>
		<div class="profile-people-name">
			Luciana
		</div>
		<div class="profile-people-text">
			Lorem Ipsum bla bla bla
		</div>
		<hr/>
	</div>
	<div class="profile-description">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
	</div>
	<div class="profile-location">
		Bogota, Colombia
	</div>
	<div class="profile-work">
		Graphic Designer
	</div>
	<div class="profile-picture">
		<img class="image" src="http://placehold.it/220x120" />
	</div>
	<div class="profile-content">
		<h1>Parc Güell</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
		</p>
	</div>
</div>